.heading 
{
    font-size: 23px;
    width : 100%;
    margin: 0px;
    box-shadow: 5px , 5px , 5px rgb(144, 119, 255);
}
.heading_div
{
    float: none;
    background: rgb(248, 45, 170);
    padding: 10px;
    border-radius: 20px;
    color: rgb(3, 3, 3);
    box-shadow: 5px , 5px , 5px grey;
}
.heading_div2
{
    font-size: 20px;
}
.result_para
{
    box-shadow: 5px , 5px , 5px grey;
    font-size: 20px;
}
.copy_right_footer
{
    position: fixed;
    font-size: 20px;
    font-weight: bold;
    color: brown;
    bottom: 0;
    width: 100%;
    background-color: cornflowerblue;
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 5px solid blueviolet;
    border-radius: 20px;
    box-shadow: 5px , 5px , 5px grey;
    margin-top: 150px;
}
